body {
    background-color: var(--black);
    height: 100vh;
}

.nav-link {
    color: var(--white);

}

a{
    color: var(--white);
    text-decoration: none;
}

#mars_robo {
    background-image: url('./imagens/robo\ mars.png');
    height: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#satelite_DSCOVR {
    background-image: url('./imagens/DSCOVR_SATELITE.jpg');
    height: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-size: cover;
}

#txt-mars {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 53px;
}

.nav-link:hover {
    color: var(--strong);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--white);
    font-family: "Lato";
}

hr {
    color: var(--white);
}

p {
    color: var(--white);
    font-family: "Lato";
}

strong {
    color: var(--strong);
}

#secao2-titulo {
    background-color: var(--black);
}

#fiveFotos {
    background-color: var(--black);
}

#secao3-titulo {
    background-color: var(--black);
}

:root {
    --black: #0A0C1B;
    --white: #F5F7FA;
    --strong: #5DF2FF;
}


.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  