body{
    background-color: var(--black);
    height: 100vh;
}

.nav-link {
    color: var(--white);
    
}

.nav-link:hover {
    color: var(--strong);
}

h1{
    color: var(--white);
    font-family: "Lato";
}

h2{
    color: var(--white);
    font-family: "Lato";
}

h6{
    color: var(--white);
    font-family: "Lato";
}

h4{
    color: var(--white);
    font-family: "Lato";
}

strong{
    color: var(--strong);
}

#secao2-titulo {
    background-color: var(--black);
}

#fiveFotos {
    background-color: var(--black);
}

#secao3-titulo {
    background-color: var(--black);
}

:root{
    --black:#0A0C1B;
    --white:#F5F7FA;
    --strong:#5DF2FF;
}


.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }